@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.login {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    &__form {
        width: 50rem;
        margin: auto;
        margin: auto;
        padding: 2rem;
    }

    &__signup-redirect {
        @include form-redirect;
    }
}

@media only screen and (max-width: 1060px) {
    .login__left {
      display: none;
    }

    .login__form {
        padding: 4rem 2rem;
    }
  }