@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.waiting-list {
//   @include default-logged-container;
@include default-admin-container;

  img {
    display: block;
    max-width: 100%;
  }

  &__sort {
    display: flex;
  }

  &__filter {
    margin:auto 0 auto auto;
  }

  &__table {
    color: red;
    font-size: 16px !important;

    * {
      font-size: 12px !important;
    }
  }

  &__column-title {
    font-family: $font-bold !important;
  }

  &__row {
    font-family: $font-regular !important;

    &--f-column {
      display: flex !important;
      flex-direction: column !important;

      & > button {
        margin: 0.3rem;

        &:nth-child(2) {
          color: red !important;
          border-color: red;

          &:hover {
            background-color: rgba(210, 25, 25, 0.04);
          }
        }
      }
    }
  }

  &__proof-btn {
    svg {
      font-size: 16px !important;
      fill: $default-color;
    }
  }

  &__search {
    //   margin-top: 2rem!important;

    label {
        font-size: 13px!important;
    }
      input {
        font-size: 16px!important;
        font-family: $font-regular;
      }

      &-btn {
          margin-top: auto!important;
          font-size: 11px!important;
      }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;

    &-text {
      font-family: $font-bold;
      text-align: center;
      font-size: 2rem!important; 
    }
  }

  &__loader {
    margin-top: 2rem;
  }
}
