@import "./../../../assets/styles/mixins";
@import "./../../../assets/styles/variables";

.results {
  @include border-default;
  position: absolute;
  width: 100%;
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1001;

  &__top-section {
    display: flex;

    &__text {
      font-family: $font-medium;
      font-size: 12px;
      margin-left: 10px;
      margin-top: 10px;
      color: #7c7c7c;
    }

    &__close {
      position: absolute;
      right: 20px;
      color: #7c7c7c;
      width: 25px;
      height: 25px;
    }
  }

  &__item {
    display: block;
    padding: 10px;

    &:hover {
      background-color: #f6f7f8;
      cursor: pointer;
    }

    &__title {
      display: block;
      font-family: $font-bold;
      font-size: 17px;
    }
    &__text {
      padding: 5px;
      display: block;
      font-family: $font-medium;
      font-size: 12px;
      color: #7c7c7c;
    }
  }

  &__none {
    margin-left: 5px;
    padding: 5px;
    display: block;
    font-family: $font-medium;
    font-size: 12px;
    color: #7c7c7c;
  }
}

@media only screen and (max-width: 777px) {
  .results {
    // position: relative;
    border: none;
    width: 100vw;
    margin-left: -20px;
  }
}
