.logo {
  display: flex;
  align-items: center;
  background-color: white;
  img {
    width: 120px;
    height: 45px;
    margin-right: 5px;
    background-color: white;
    cursor: pointer;
  }
}

@media only screen and (max-width: 777px) {
  .logo {
    display: none;
  }
}
