@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/mixins";

.feed-select {
    margin-top: 16px;
    background-color: white;
    width: 310px;
    //   height: 250px;
    @include border-default;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.async-paginate-locality {
    margin-top: 1rem;
}

.admin-select-feed {
    display: flex;  
    flex-direction: column;
    &__btn {
        font-size: 1.2rem;
        padding: 0 2rem;
        height: 3rem;
        margin-left: auto;
        margin-top: .5rem;
        width: 100%;
        margin-bottom: .5rem;
    }
}

.react-select {
    margin-top: 1rem!important;
}