@import "../../assets/styles/variables";
.pending {

    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
        font-family: $font-bold;
        font-size: 5rem;
    }

    &__subtitle {
        font-family: $font-bold;
        font-size: 3rem;
        display: block;
        margin-top:2rem;
    }
}