@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.dialog {

	&__title {
		
		span {
			font-size: 1.5rem!important;
			font-family: $font-bold!important;
			padding-right: 2rem;
		}
	}


	&__save-btn {
		font-size: 1.2rem!important;
	}

	&__error {
		color: red;
		font-family: $font-regular;
		font-size: 1.3rem;
	}

}
