@import "./.././../../assets//styles/variables";

.section__sort-post {
  width: 100%;
  //   margin: auto;
  border-radius: 4px;
  border: 2px solid #dfdfdf;
  align-items: center;
  display: flex;
  height: 58px;
  margin-top: 16px;
  background-color: white;
  padding: 8px;
}

.time-button {
  border: none;
  background-color: transparent;
  // margin-bottom: 15px;
}

.sort-button {
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // width: 23%;

  &__label {
    text-decoration: none;
    display: flex;
    height: 32px;
    align-items: center;
    color: #878a8c;
    font-family: $font-medium;
    margin-left: 5px;
    border-radius: 9999px;
    padding: 15px;

    &:hover {
      background-color: #ededed;
      cursor: pointer;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__text {
    margin-left: 10px;
    font-weight: bold;
    font-size: 13.5px;
  }

  &__arrow {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    color: #878a8c;
  }
}

.selected {
  color: $default-color;
  background-color: #f6f7f8;
}

.carousel {
  display: flex;
  width: 92%;
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.hidden {
  opacity: 0;
}

@media only screen and (max-width: 1080px) {
  .sort-button {
    &__arrow {
      opacity: 0;
    }
    // .carousel {
    //   width: 100%;
    //   overflow: visible;
    // }
  }
}

// @media only screen and (max-width: 850px) {
//   .sort-button {
//     &__arrow {
//       opacity: 1;
//     }
//   }
// }

@media only screen and (max-width: 777px) {
  .sort-button {
    &__arrow {
      opacity: 1;
    }
  }
}
