@import "./.././../../assets//styles/variables";

.section__sort-post {
  width: 100%;
  //   margin: auto;
  border-radius: 4px;
  border: 2px solid #dfdfdf;
  align-items: center;
  display: flex;
  height: 58px;
  margin-top: 16px;
  background-color: white;
  padding: 8px;
}

.time-button {
  border: none;
  background-color: transparent;
}

.sort-button {
  border: none;
  background-color: transparent;

  &__label {
    text-decoration: none;
    display: flex;
    height: 32px;
    align-items: center;
    color: #878a8c;
    font-family: $font-medium;
    margin-left: 15px;
    border-radius: 9999px;
    padding: 15px;

    &:hover {
      background-color: #ededed;
      cursor: pointer;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__text {
    margin-left: 5px;
    font-weight: bold;
    font-size: 13.5px;
  }
}

.selected {
  color: $default-color;
  background-color: #f6f7f8;
}

@media only screen and (max-width: 777px) {
  .section__sort-post {
    display: none;
  }
}
