.actionsContainer {
  margin-left: 10px;
  width: 130px;
  svg {
    // color: #444444;
    // color: #866118;
    width: 28px;
    height: 30px;
    margin-top: 7px;
    margin-left: 10px;

    &:hover {
      background-color: rgb(230, 230, 230);
    }
  }

  .action {
    padding: 1px;
    width: 33px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .action:nth-child(2) {
    width: 33px;
    padding: 5px;
  }
}
