@import "./../../assets/styles/variables";

.navbar {
  display: inline;
}

.main-navbar {
  display: flex;
  // justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  background-color: white;
  // max-width: 200px;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__right-menu-button {
    display: none;
  }
}

.active {
  border: 0.5px solid rgb(220, 220, 220);
}

@media only screen and (max-width: 777px) {
  .main-navbar {
    &__right-menu-button {
      display: block;
      width: 25px;
      height: 25px;
      margin-top: 8px;
      margin-bottom: auto;
      margin-left: 15px;
    }
  }
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
