@import "../../assets//styles/variables";
@import "../../assets/styles/mixins";
.signup {
  display: flex;
  flex-direction: row;
  height: 100vh;

  &__form {
    width: 50rem;
    margin: auto;
    padding: 0 2rem;
  }

  &__login-redirect {
      @include form-redirect;
  }
}

@media only screen and (max-width: 1060px) {
  .signup__left {
    display: none;
  }
}
