@import "assets/styles/variables";
@import "assets/styles/mixins";

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  // font-family: $font-light;
}

// body {
//   background-color: #dae0e6;
// }

.input-default {
  border: 1px solid transparent;
  background-color: #f3f3f4;
  color: #0d0c22;
  height: 40px;
  font-weight: 400;
  line-height: 28px;
  padding: 10px 16px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease,
    color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  border-radius: 8px;
  outline: none;
  font-size: 1.4rem;
  font-family: $font-regular;
  width: 100%;

  &:focus,
  &:hover {
    border-color: $default-color-light-1;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 4px rgba(20, 94, 255, 0.1);
    box-shadow: 0 0 0 4px rgba(19, 23, 255, 0.1);
  }
}

.label-default {
  font-family: $font-bold-2;
  margin: 14px 0 4px;
  display: block;
  font-size: 1.4rem;
}

.button-default-form {
  @include btn-default;
  display: inline-block;
  height: 40px;
  padding: 1rem 3.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
}

.error-default {
  display: block;
  color: red;
  font-family: $font-light;
  font-size: 1.1rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}

.MuiAlert-message {
  font-size: 1.2rem;
  font-family: $font-regular;
}

.react-select {
  &-container {
    margin-top: 200px !important;
  }
}

.react-select--is-disabled {
  opacity: .7;
}

.react-select__single-value {
  color: #0d0c22 !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  font-size: 1.4rem !important;
  font-family: $font-regular !important;
}

.react-select__option {
  font-family: $font-regular!important;;
  padding: 1rem 1.5rem!important;;
  font-size: 1.3rem!important;;

  &:focus, &:hover {
    background-color: $default-color-light-2!important;
    cursor: pointer;
  }
}

.react-select__menu {
  z-index: 10000!important;
}

.react-select__control {
  background-color: #f3f3f4 !important;
  color: #0d0c22 !important;
  height: 40px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  // padding: 10px 16px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease,
    color 200ms ease, -webkit-box-shadow 200ms ease !important;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    -webkit-box-shadow 200ms ease !important;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease !important;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease,
    box-shadow 200ms ease, -webkit-box-shadow 200ms ease !important;
  border-radius: 8px !important;
  outline: none !important;
  font-size: 1.4rem !important;
  font-family: $font-regular !important;
  width: 100% !important;

  &--is-focused {
    border-color: $default-color-light-1 !important;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 4px rgba(20, 94, 255, 0.1) !important;
    box-shadow: 0 0 0 4px rgba(19, 23, 255, 0.1) !important;
  }
}


@media only screen and (max-width: 600px) {
  input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px!important;
}
}