@font-face {
  font-family: 'FontLight';
  src: url("../fonts/HelveticaNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: 'FontMedium';
  src: url("../fonts/HelveticaNeueMedium.ttf") format("truetype");
}

@font-face {
  font-family: 'FontMedium2';
  src: url("../fonts/NHaasGroteskTXPro-65Md.ttf") format("truetype");
}

@font-face {
  font-family: 'FontRegular';
  src: url("../fonts/NHaasGroteskTXPro-55Rg.ttf") format("truetype");
}

@font-face {
  font-family: 'FontBold';
  src: url("../fonts/HelveticaNeueBd.ttf") format("truetype");
}

@font-face {
  font-family: 'FontBold2';
  src: url("../fonts/NHaasGroteskTXPro-75Bd.ttf") format("truetype");
}

*,
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.input-default {
  border: 1px solid transparent;
  background-color: #f3f3f4;
  color: #0d0c22;
  height: 40px;
  font-weight: 400;
  line-height: 28px;
  padding: 10px 16px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  border-radius: 8px;
  outline: none;
  font-size: 1.4rem;
  font-family: "FontRegular", Georgia, "Times New Roman", Times, serif;
  width: 100%;
}

.input-default:focus, .input-default:hover {
  border-color: #8b9dc3;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 4px rgba(20, 94, 255, 0.1);
  box-shadow: 0 0 0 4px rgba(19, 23, 255, 0.1);
}

.label-default {
  font-family: "FontBold2", Georgia, "Times New Roman", Times, serif;
  margin: 14px 0 4px;
  display: block;
  font-size: 1.4rem;
}

.button-default-form {
  color: white;
  outline: none;
  background: #3b5998;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "FontRegular", Georgia, "Times New Roman", Times, serif;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  height: 40px;
  padding: 1rem 3.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
}

.button-default-form:hover {
  background-color: #8b9dc3;
}

.error-default {
  display: block;
  color: red;
  font-family: "FontLight", Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}

.MuiAlert-message {
  font-size: 1.2rem;
  font-family: "FontRegular", Georgia, "Times New Roman", Times, serif;
}
/*# sourceMappingURL=App.css.map */