@mixin form-redirect {
  font-family: $font-regular;
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  a {
    color: $default-color;
    text-decoration: none;
    font-size: inherit;
  }

  @media only screen and (max-width: 1060px) {
    text-align: center;
  }
}

@mixin default-logged-container {
  display: block;
  max-width: 65rem;
  margin: 0 auto;
}

@mixin default-admin-container {
  padding: 2rem;

  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}

@mixin btn-default {
  color: white;
  outline: none;
  background: $default-color;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $font-regular;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: $default-color-light-1;
  }
}
