@import "./fonts";

$default-color: #3b5998;
$default-color-light-1: #8b9dc3;
$default-color-light-2: #dfe3ee;
$default-color-light-3: #dfe3ee;
$default-color-light-4: #ffffff;


$font-light: "FontLight", Georgia, 'Times New Roman', Times, serif;
$font-medium:"FontMedium", Georgia, 'Times New Roman', Times, serif;
$font-medium-2:"FontMedium2", Georgia, 'Times New Roman', Times, serif;
$font-bold:"FontBold", Georgia, 'Times New Roman', Times, serif;
$font-bold-2:"FontBold2", Georgia, 'Times New Roman', Times, serif;
