@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.create-post {
  @include logged-page;

  &__container {
    @include default-logged-container;
    // background-color: red;
    display: flex;
  }
  &__left {
    @include default-logged-container--left;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-light;
    font-size: 1.8rem;
    letter-spacing: 1.3px;
  }

  &__h-line {
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    margin-top: 1rem;
  }

  &__editor {
    border-radius: 5px;
    border: 2px solid #dfdfdf;
    margin-top: 30px;
    background-color: white;
    width: 100%;

    &__header {
      color: $default-color;
      font-family: $font-medium;
      font-size: 17px;
      padding-bottom: 4px;
      border-bottom: 4px solid $default-color;
      width: 110px;

      &__icon {
        margin-left: 10px;
        margin-top: 10px;
        width: 25px;
        height: 25px;
      }
    }

    &__title {
      margin-top: 15px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid #dfdfdf;
      padding: 1px;
      // font-family: $font-medium;
      font-size: 15px;
      padding-left: 10px;
    }

    &__textarea {
      resize: vertical;
      margin-top: 10px;
      min-height: 165px;
      border: 1px solid #dfdfdf;
    }

    &__upload-images {
      width: 94%;
      height: 280px;
      margin-left: 3%;
      margin-top: 10px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      margin-bottom: 15px;
    }

    &__h-line {
      // width: 94%;
      height: 0.1rem;
      background-color: #dfdfdf;
      margin-bottom: 10px;
      margin-left: 3%;
    }
  }

  &__fields {
    padding: 1rem;
  }
}

.btn {
  &__upload-image {
    display: inline-block;
    font-family: $font-medium;
    font-weight: bold;
    color: $default-color;
    font-size: 15px;
    background-color: transparent;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 130px;
    margin-left: 40%;
    border: 1px solid $default-color;
    border-radius: 9999px;

    &:before {
      content: "Incarca";
    }

    &:hover {
      background-color: $default-color-light-2;
      cursor: pointer;
    }
  }

  &__post-image {
    font-family: $font-medium;
    color: white;
    font-size: 15px;
    background-color: $default-color;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 3%;
    margin-bottom: 1.5%;
    border: 2px solid $default-color;
    border-radius: 9999px;
    float: right;

    &:hover {
      cursor: pointer;
      color: $default-color-light-1;
    }
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
