.home-button {
  display: flex;
  padding: 3px;
  width: 230px;
  height: 35px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;

  &:hover {
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
  }

  &__container {
    box-sizing: border-box;
  }
  // &__icon {
  //   font-size: 50px;
  // }

  &__text {
    font-size: 15px;
    font-weight: 90;
    margin-top: 5px;
    margin-left: 5px;
  }

  &__arrow {
    // margin-left: 50px;
    display: block;
    margin-left: auto;
    width: 30px;
    height: 30px;
  }

  svg {
    font-size: 25px;
  }
}

.active {
  border: 0.5px solid rgb(220, 220, 220);
}

@media only screen and (max-width: 1023px) {
  .home-button {
    width: auto;

    &__text {
      display: none;
    }

    &__arrow {
      display: none;
    }
  }
}

@media only screen and (max-width: 777px) {
  .home-button {
    display: none;
  }
}
