@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.homepage {
  @include logged-page;

  &__container {
    @include default-logged-container;
    // background-color: red;
    display: flex;
  }

  &__left {
    @include default-logged-container--left;
    display: flex;
    flex-direction: column;
  }

  &__right {
    @include default-logged-container--right;
    display: flex;
    flex-direction: column;
  }

  &__posts{
    display: flex;
    flex-direction: column;
  }

  &__post {
    margin-top: 1rem!important;
  }
}

.scroll-text {
  font-family: $font-regular;
  text-align: center;
  display: block;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
