@import "../../assets//styles/variables";
@import "../../assets/styles/mixins";

.post-page {
    @include logged-page;
    &__container {
        @include default-logged-container;
    }

    &__left {
        @include default-logged-container--left;
        display: flex;
        flex-direction: column;
    }

    &__right {
        @include default-logged-container--right;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1080px) {
    .post-page__post-component {
      margin-top: 12rem!important;
    }

    .post-page__container {
        padding: 0 .3rem;
    }
  }